@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Login
                <i class="material-icons right">send</i>
            </button>
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Register
                <i class="material-icons right">send</i>
            </button>
			<a href="/identity/account/login"
   class="btn btn-sm btn-white btn-icon rounded-pill d-none d-lg-inline-flex"
   data-toggle="tooltip" data-placement="left">
    <span class="btn-inner--icon"><i class="fas fa-sign-in"></i></span>
    <span class="btn-inner--text">Login</span>
</a>
        </div>
    </div>
</body> 