<<<<<<< HEAD
﻿
#twelve {
    background-color: greenyellow;
    text-align: center;
}
=======
﻿ #twelve{
    background-color: greenyellow;
    text-align: center;
}

>>>>>>> 33bdd45e02d4e2f1a25d2f4a5e52178057d446f1
#sixA {
    background-color: antiquewhite;
    text-align: center;
}
<<<<<<< HEAD
=======

>>>>>>> 33bdd45e02d4e2f1a25d2f4a5e52178057d446f1
#sixB {
    background-color: azure;
    text-align: center;
}
<<<<<<< HEAD
=======
#one {
    background-color: orchid;
    text-align: center;
}
a{
    align-content: center;
}
>>>>>>> 33bdd45e02d4e2f1a25d2f4a5e52178057d446f1

