
﻿
#twelve {
    background-color: greenyellow;
    text-align: center;
}

﻿ #twelve{
    background-color: greenyellow;
    text-align: center;
}

#sixA {
    background-color: antiquewhite;
    text-align: center;
}
#sixB {
    background-color: azure;
    text-align: center;
}

#one {
    background-color: orchid;
    text-align: center;
}
a{
    align-content: center;
}


