#twelve {
    background-color: greenyellow;
    text-align: center;
}

#sixA {
    background-color: antiquewhite;
    text-align: center;
}

#sixB {
    background-color: azure;
    text-align: center;
}
